#
# ----------------------------------------------------------------------
#
# File: sdk.config
#
# Last edited: 16.11.2024
#
# Copyright (c) 2024 ETH Zurich and University of Bologna
#
# Authors:
# - Philip Wiese (wiesep@iis.ee.ethz.ch), ETH Zurich
#
# ----------------------------------------------------------------------
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the License); you may
# not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an AS IS BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#/

#
# GAP_SDK
#

#
# Board
#
CONFIG_BOARD_SENSEI_BASEV1=y
CONFIG_BOARD_SENSEI_SENSORV1=y
CONFIG_BOARD_SENSEI_DEBUGV1=y

# CONFIG_BOARD_GAP9MOD_V1_0_B=y
# CONFIG_BOARD_GAP9EVK_V2_0=y
# CONFIG_BOARD_GAP9EVK_V2_0_OPTION_PRINTF_UART_1=y


#
# Addons
#
# CONFIG_BOARD_GAP9EVK_IDC747 is not set
# end of Addons

# CONFIG_BOARD_GAP9EVK_NONE is not set
# CONFIG_BOARD_AUDIO_ADDON_NONE is not set
# CONFIG_BOARD_AUDIO_ADDON_V1_1 is not set
# CONFIG_BOARD_AUDIO_ADDON_V2_1 is not set
# CONFIG_BOARD_GAP9AUDIO_V1 is not set
# CONFIG_BOARD_GAP9AUDIO_V2 is not set
# CONFIG_BOARD_GAP9_V2_VIRTUAL is not set

#
# Additionnal Boards
#
# end of Board

CONFIG_GAP9EVK_CAMERA_DEPS=y
CONFIG_EVK_COMPATIBILITY=y
CONFIG_CHIP_FAMILY_9=y
CONFIG_CHIP_FAMILY=9
CONFIG_CHIP_VERSION_2=y
CONFIG_CHIP_VERSION=2
CONFIG_CHIP_GAP9_V2_WLCSP=y
CONFIG_CHIP_NAME="gap9"

#
# Platform
#
# CONFIG_PLATFORM_GVSOC is not set
CONFIG_PLATFORM_BOARD=y
# CONFIG_PLATFORM_RTL is not set
# CONFIG_PLATFORM_FPGA is not set
# end of Platform

#
# Drivers
#

#
# GAP
#
CONFIG_DRIVER_UDMAAES=y
CONFIG_DRIVER_CLUSTER=y
CONFIG_DRIVER_CLUSTERDECOMPRESSOR=n
CONFIG_DRIVER_CLUSTERTEAM=y
# CONFIG_DRIVER_CLUSTERUART is not set
# CONFIG_DRIVER_CLUSTER_L1MALLOC is not set
CONFIG_DRIVER_UDMACPI=y
CONFIG_DRIVER_UDMACSI2=y
# CONFIG_DRIVER_UDMADATAMOVE is not set
# CONFIG_DRIVER_DMACPY is not set
CONFIG_DRIVER_EFUSE=y
# CONFIG_DRIVER_UDMAFIFO is not set
# CONFIG_DRIVER_FFC is not set
# CONFIG_DRIVER_UDMAHYPERBUS is not set
CONFIG_DRIVER_I2C=y
# CONFIG_DRIVER_I2S is not set
CONFIG_DRIVER_I3C=y
# CONFIG_DRIVER_L2MALLOC is not set
# CONFIG_DRIVER_MEMSLAB is not set
CONFIG_DRIVER_UDMAOCTOSPI=y
# CONFIG_DRIVER_PWM is not set
CONFIG_DRIVER_QUIDDIKEY=y
# CONFIG_DRIVER_RTC is not set
# CONFIG_DRIVER_SPIM is not set
# CONFIG_DRIVER_UDMATIMEOUT is not set
# CONFIG_DRIVER_UDMATIMESTAMP is not set

#
# UART
#

#
# Peripherals
#
CONFIG_DRIVER_UART0=y
# CONFIG_DRIVER_UART1 is not set
# end of Peripherals

#
# Driver
#
CONFIG_DRIVER_UDMAUART=y
# end of Driver
# end of UART

# CONFIG_DRIVER_XIP is not set
# end of GAP

CONFIG_PI_LOG_LEVEL_NONE=y
# CONFIG_PI_LOG_LEVEL_ERROR is not set
# CONFIG_PI_LOG_LEVEL_WARNING is not set
# CONFIG_PI_LOG_LEVEL_INFO is not set
# CONFIG_PI_LOG_LEVEL_DEBUG is not set
# CONFIG_PI_LOG_LEVEL_TRACE is not set
CONFIG_PI_LOG_LEVEL="PI_LOG_NONE"

#
# Camera
#
CONFIG_DRIVER_HM0360=y
# CONFIG_DRIVER_OV5647 is not set

#
# HM0360 Options
#
CONFIG_DRIVER_HM0360=y
CONFIG_DRIVER_HM0360_BUS_I2C=y
CONFIG_DRIVER_HM0360_DATA_BUS_CSI2=y
CONFIG_DRIVER_HM0360_FORMAT_QVGA=n
CONFIG_DRIVER_HM0360_FORMAT_VGA=y
# end of Camera


#
# EEPROM drivers
#
# end of EEPROM drivers

CONFIG_DRIVER_TYPE_FLASH=y

#
# Flash drivers
#
CONFIG_DRIVER_MX25U51245G=y
CONFIG_DRIVER_MX25U51245G_FLASH_SIZE=67108864
CONFIG_DRIVER_MX25U51245G_BAUDRATE_DEFAULT=y
# CONFIG_DRIVER_MX25U51245G_BAUDRATE_USER is not set
CONFIG_DRIVER_MRAM=y
CONFIG_DRIVER_MRAM_BAUDRATE_DEFAULT=y
# CONFIG_DRIVER_MRAM_BAUDRATE_USER is not set
# end of Flash drivers

#
# FS
#
CONFIG_DRIVER_HOSTFS=y
CONFIG_DRIVER_READFS=y
# CONFIG_DRIVER_LITTLEFS is not set
CONFIG_DRIVER_VFS=y
# CONFIG_READFS_FLASH_TYPE_DEFAULT=y
CONFIG_READFS_FLASH_TYPE_MRAM=y
# CONFIG_READFS_FLASH_TYPE_HYPER is not set
# CONFIG_READFS_FLASH_TYPE_MRAM is not set
# CONFIG_READFS_FLASH_TYPE_QSPI is not set
# CONFIG_READFS_FLASH_TYPE_OSPI is not set
# CONFIG_LITTLEFS_FLASH_TYPE_DEFAULT=y
# CONFIG_LITTLEFS_FLASH_TYPE_MRAM is not set
# CONFIG_LITTLEFS_FLASH_TYPE_HYPER is not set
# CONFIG_LITTLEFS_FLASH_TYPE_MRAM is not set
# CONFIG_LITTLEFS_FLASH_TYPE_QSPI is not set
# CONFIG_LITTLEFS_FLASH_TYPE_OSPI is not set
# end of FS


#
# Partitions
#
CONFIG_DRIVER_PARTITION=y
# CONFIG_DRIVER_PARTITION_APP_ELF is not set
# CONFIG_DRIVER_PARTITION_APP_BIN is not set
# CONFIG_DRIVER_PARTITION_APP_BOOT is not set
CONFIG_DRIVER_FLASH_PARTITION_ENABLE=y
CONFIG_DRIVER_FLASH_PARTITION_V2=y
# CONFIG_DRIVER_FLASH_PARTITION is not set

#
# Advanced
#
# CONFIG_DRIVER_FLASH_PARTITION_V2_DISABLE_AUTO_REGISTRY is not set
# end of Advanced
# end of Partitions

CONFIG_DRIVER_TYPE_RAM=y

#
# Ram drivers
#
CONFIG_DRIVER_APS256XXN=y
CONFIG_DRIVER_APS256XXN_BAUDRATE_DEFAULT=y
# CONFIG_DRIVER_APS256XXN_BAUDRATE_USER is not set
# end of Ram drivers

# CONFIG_HAS_TRANSPORT_HARDWARE=y
# CONFIG_HAS_DA16200_HARDWARE=y

#
# Transport
#
# CONFIG_DRIVER_DA16200 is not set
# end of Transport

# CONFIG_HAS_UART_HARDWARE=y
# CONFIG_HAS_UARTUSB_HARDWARE=y
# CONFIG_DRIVER_UARTUSB is not set
# end of Drivers

#
# Core
#

#
# Clocks
#
CONFIG_FAST_OSC=y
# CONFIG_SLOW_OSC is not set
# CONFIG_USE_FAST_REF_CLK_PAD is not set
CONFIG_FAST_OSC_FREQUENCY=24576063
CONFIG_FLL_MAXDCO_FREQ=900000000
CONFIG_FREQUENCY_PERIPH=160000000
CONFIG_FREQUENCY_FC=50000000
CONFIG_FREQUENCY_CLUSTER=50000000
CONFIG_FREQUENCY_SFU=50000000
CONFIG_FREQUENCY_FPGA=50000000
# end of Clocks

#
# Stacks
#
CONFIG_FC_APP_MAIN_STACK_SIZE=2048
CONFIG_CL_MASTER_CORE_STACK_SIZE=8192
CONFIG_CL_SLAVE_CORE_STACK_SIZE=8192

#
# Advanced
#
CONFIG_EVENT_KERNEL_STACK_SIZE=256
# end of Advanced
# end of Stacks

#
# Memory allocator
#
# CONFIG_MALLOC_NO_L2_PRIV is not set
CONFIG_MALLOC_NO_L2_PRIV=y
# end of Memory allocator

CONFIG_LINKER_SCRIPT_DEFAULT=y
# CONFIG_LINKER_SCRIPT_XIP is not set
# CONFIG_LINKER_SCRIPT_UPPER_MEMORY is not set
# CONFIG_LINKER_SCRIPT_EXPAND_L2_SHARED_TO_L2_PRIV0 is not set

#
# Custom linker scripts
#
# CONFIG_LINKER_SCRIPT_APP is not set
# end of Custom linker scripts

CONFIG_OPENOCD_SCRIPT_DEFAULT=y
# CONFIG_OPENOCD_SCRIPT_ABB is not set
# CONFIG_OPENOCD_SCRIPT_SPIS is not set
CONFIG_FLASH_LAYOUT_DEFAULT=y
# CONFIG_FLASH_LAYOUT_CUSTOM is not set

#
# Boot
#
CONFIG_BOOT_DEVICE_MRAM=y
# CONFIG_BOOT_DEVICE_JTAG is not set
# CONFIG_OPEN_LOOP_BOOT is not set
# CONFIG_BOOT_NO_FSBL_SSBL is not set
# end of Boot

# CONFIG_LZ4_COMPRESSION is not set
# CONFIG_XIP is not set
# CONFIG_SLEEP_WITH_RETENTION is not set
# end of Core

#
# Compiler
#

#
# Optimization level
#
CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL_OS=y
CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL="-Os"
# CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL_O3 is not set
# CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL_O2 is not set
# CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL_O1 is not set
# CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL_OG is not set
# CONFIG_CFLAGS_GLOBAL_OPTIM_LEVEL_O0 is not set
CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL_OS=y
CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL="-Os"
# CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL_O3 is not set
# CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL_O2 is not set
# CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL_O1 is not set
# CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL_OG is not set
# CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL_O0 is not set
# CONFIG_CFLAGS_PRINTF_OPTIM_LEVEL_GLOBAL is not set
CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL_OS=y
CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL="-Os"
# CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL_O3 is not set
# CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL_O2 is not set
# CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL_O1 is not set
# CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL_OG is not set
# CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL_O0 is not set
# CONFIG_CFLAGS_MBEDTLS_OPTIM_LEVEL_GLOBAL is not set
CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL_OS=y
CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL="-Os"
# CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL_O3 is not set
# CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL_O2 is not set
# CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL_O1 is not set
# CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL_OG is not set
# CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL_O0 is not set
# CONFIG_CFLAGS_FREERTOS_KERNEL_OPTIM_LEVEL_GLOBAL is not set
# end of Optimization level

# CONFIG_CFLAGS_ENABLE_DEBUG is not set
CONFIG_CFLAGS_ENABLE_DEBUG=y
# CONFIG_DISABLE_WERROR is not set
# CONFIG_ENABLE_LIBMATH is not set
# end of Compiler

#
# OS
#
# CONFIG_FREERTOS_NATIVE_SCHEDULER=y
# CONFIG_FREERTOS_SCHEDULER_V2 is not set
CONFIG_FREERTOS_SCHEDULER_V2=y
CONFIG_FREERTOS_USE_PREEMPTION=y
# CONFIG_FREERTOS_USE_TIMERS is not set
CONFIG_FREERTOS_USE_SYSTICK=y
CONFIG_FREERTOS_TICK_RATE_HZ=100
CONFIG_FREERTOS_MAX_PRIORITIES=3
# CONFIG_FREERTOS_USE_QUEUE_SETS is not set
# CONFIG_FREERTOS_USE_TRACE_FACILITIES is not set
# end of OS

#
# Libs
#
# CONFIG_LIB_FRAME_STREAMER is not set
# CONFIG_LIB_OPENMP is not set
# CONFIG_LIB_MBEDTLS is not set
CONFIG_LIB_GAP_LIB=y

#
# GAP LIB Configuration
#
# CONFIG_LIB_GAP_LIB_G722_ENC_DEC is not set
CONFIG_LIB_GAP_LIB_IMG_IO=y
# CONFIG_LIB_GAP_LIB_IMG_IO_EMUL is not set
CONFIG_LIB_GAP_LIB_JPEG=y
# CONFIG_LIB_GAP_LIB_TESTBENCH is not set
# CONFIG_LIB_GAP_LIB_WAV_IO is not set
# CONFIG_LIB_GAP_LIB_WAV_IO_EMUL is not set
# CONFIG_LIB_SINE_GENERATOR is not set
# CONFIG_QUALITY_20=y
CONFIG_QUALITY_0=y
# end of GAP LIB Configuration

# CONFIG_LIB_SFU is not set
# CONFIG_LIB_SFU_V2 is not set
# CONFIG_LIB_SFU_LEGACY is not set

#
# Tools
#

#
# Autotiler
#
CONFIG_ENABLE_AUTOTILER=y

#
# Kernel sets used
#
CONFIG_CNN_POW2=y
CONFIG_CNN_SQ8=y
CONFIG_CNN_FP16=y
CONFIG_CNN_NE16=y

# CONFIG_CLUSTER_SCHEDULING_HOOK is not set
# WIESEP: GAP9 has 128 KiB L1 but we cannot use it all
# 125 KiB (125*1024)
CONFIG_MODEL_L1_MEMORY=128000
# # 128 KiB (128*1024)
# CONFIG_MODEL_L2_MEMORY=131072
# # 256 KiB (256*1024)
# CONFIG_MODEL_L2_MEMORY=262144
# 512 KiB (512*1024)
CONFIG_MODEL_L2_MEMORY=524288
 # 64 MiB (64*1024*1024)
CONFIG_MODEL_L3_MEMORY=67108864
CONFIG_MODEL_L2STATIC_MEMORY=-1
CONFIG_MODEL_L3STATIC_MEMORY=-1
CONFIG_MODEL_BUILDDIR="BUILD_MODEL"
# CONFIG_MODEL_HAS_NO_CONSTANTS is not set
# CONFIG_MODEL_EMUL is not set
# CONFIG_MODEL_FLASH_TYPE_DEFAULT=y
CONFIG_MODEL_FLASH_TYPE_MRAM=y
# CONFIG_MODEL_FLASH_TYPE_HYPER is not set
# CONFIG_MODEL_FLASH_TYPE_MRAM is not set
# CONFIG_MODEL_FLASH_TYPE_QSPI is not set
# CONFIG_MODEL_FLASH_TYPE_OSPI is not set
# CONFIG_MODEL_RAM_TYPE_DEFAULT=y
# CONFIG_MODEL_RAM_TYPE_HYPER is not set
# CONFIG_MODEL_RAM_TYPE_QSPI is not set
# CONFIG_MODEL_RAM_TYPE_OSPI is not set
CONFIG_MODEL_LOGLEVEL=1
CONFIG_MODEL_FLOAT16_TYPE_BFLOAT16=y
# CONFIG_MODEL_FLOAT16_TYPE_IEEE16 is not set
CONFIG_MODEL_DSP_FLOAT16_TYPE_BFLOAT16=y
# CONFIG_MODEL_DSP_FLOAT16_TYPE_IEEE16 is not set
# CONFIG_MODEL_REENTRANT_MODE is not set
# CONFIG_USE_PRIVILEGED_MRAM is not set
CONFIG_NEW_TILER_DSP_LIB=y
# end of Autotiler

#
# NNTool
#
CONFIG_ENABLE_NNTOOL=n
CONFIG_NNTOOL_SCRIPT_PATH="model/nntool_script"
CONFIG_NNTOOL_EXTRA_FLAGS=""
CONFIG_NNTOOL_MODEL_PATH="model/model.tflite"
CONFIG_NNTOOL_EXPRESSIONS_SRC=""
CONFIG_NNTOOL_COPY_MODEL_TO_BUILDDIR=y
# CONFIG_NNTOOL_MODEL_QUANTIZED is not set
CONFIG_NNTOOL_LOGLEVEL="warning"
# end of NNTool
# end of Tools

#
# IO
#
CONFIG_IO_TYPE_SEMIHOSTING=n
# CONFIG_IO_TYPE_JTAG is not set
CONFIG_IO_TYPE_UART=y
# CONFIG_IO_TYPE_CLI is not set
# CONFIG_IO_TYPE_DISABLED is not set
CONFIG_IO_PRINTF_FLOAT_ENABLE=y
CONFIG_IO_UART_BAUDRATE=115200
# end of IO
