# Copyright (c) 2025 ETH Zurich and University of Bologna
# SPDX-License-Identifier: Apache-2.0

[submodule "src_NRF/third_party/ubxlib"]
	path = src_NRF/third_party/ubxlib
	url = https://github.com/u-blox/ubxlib.git
